<!--Displays same title and image on each page.-->
<!doctype html>
<html>
<head>
    <title>Fortunes For You</title>
</head>
<body>
<header><img src="https://c1.staticflickr.com/9/8532/8456243658_e2f41464f3_b.jpg" alt="Our Logo" width="25%"></header>
<!--Placeholder for body content.-->
{{{body}}}
</body>
</html>